﻿/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
The following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.txtlbl {
    color: brown;
    font-size: 25px;
    text-align: center;
}

.btn-primary {
    background-color: orangered;
    border-radius: 5;
    color: white;
    font-family: FontAwesome;
    font-size: 24;
    vertical-align: middle;
    width: 90%;
}

.btn-active {
    background-color: lightslategray;
    color:white;
}

.action-bar{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color: chocolate;
}


TextField{
border-width: 1;
}

